#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4%;

    header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        background-color: #1976d2e4;
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
        border-radius: 5px;

        span{
            color: rgb(255, 166, 0);
        }
    }

    .body{
        display: flex;
        gap: 1%;
        align-items: flex-start;

    form{
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        padding:1rem;
        width: 40%;
        border: 1px solid black;
        border-radius: 5px;
        text-align: center;
    }

    .settings{
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        padding:1rem;
        width: 40%;
        border: 1px solid black;
        border-radius: 5px;
        text-align: center;
    }

    .rightside{
        display: flex;
        flex-direction: column;
        width: 59%;

        .highlight{
            padding: 1rem;
            margin: 1rem 0;
            border-radius: 5px;
            background-color: rgba(255, 166, 0, 0.918);
        }
    }

    section{
        display: inline-block;
        // width: 59%;
        border: 1px solid black;
        border-radius: 5px;
        padding:1rem;
    }

}
}


